
<table>
<tr><th>Type</th><th>Name</th></tr>
<form method=POST>{% csrf_token %}
{% for subnode in directorynode.inodes.all %}
<a href="{% url 'repository' filedir='' %}{{filedir}}{{ subnode }}{% if subnode.is_directory %}/{% endif %}">{{filedir}}{{ subnode }}{% if subnode.is_directory %}/{% endif %}</a>&nbsp;<button name="inodeid" value="{{ subnode.id }}">X</button></br>
{% endfor %}
</form>
<br/>
</table>

<form method=POST>{% csrf_token %}
<table>
{{ directoryform }}
<br/>
</table>
<button>Add new directory</button>
</form>

<form enctype="multipart/form-data" method=POST>{% csrf_token %}
<table>
{{ fileform }}
<br/>
</table>
<button>Add new file</button>
</form>
