
<table>
<tr><th>Type</th><th>Name</th></tr>
{% if filedir == '/' %}

{% for subnode in directorynode.inodes.all %}
{{ subnode }}
{% endfor %}

{% else %}

{% for subnode in directorynode.inodes.all %}
{{filedir}}{{ subnode }}
{% endfor %}

{% endif %}
<br/>
</table>

<form method=POST>{% csrf_token %}
<table>
{{ directoryform }}
<br/>
</table>
<button>Add new directory</button>
</form>

<form enctype="multipart/form-data" method=POST>{% csrf_token %}
<table>
{{ fileform }}
<br/>
</table>
<button>Add new file</button>
</form>
